dbWorld_host = "localhost"
dbWorld_port = "3306"
dbWorld_user = "root"
dbWorld_password = "password"
dbWorld_database = "world"

dbCache_host = "localhost"
dbCache_port = "3306"
dbCache_user = "root"
dbCache_password = "password"
dbCache_database = "wowheadcache"

categories = ["quest"]
languages = ["en", "de", "es", "fr", "it", "pt", "ru", "ko", "cn"]

printDebug = True
debugParsing = False
printTextParsed = False

